<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <th:block th:fragment="includes">
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="/mycocktail/img/cocktail.png">
        <link href="https://fonts.googleapis.com/css?family=Indie Flower" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/mycocktail/css/style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="'Where is my cocktail ??!'"></title>
    </th:block>
</html>