<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>menu</title>
    </head>
    <body>
        <div class="menu-panel menu-element" th:fragment="menu">
            <ul>
                <li>Trouver un cocktail qui contient</li>
                <li>Liste des cocktails</li>
                <ul>
                    <li>Par ordre alphabétique</li>
                    <li>Par Alcool</li>
                </ul>
            </ul>
        </div>
    </body>
</html>