* { margin: 0; padding: 0; }

html, body {
    font-family: 'Indie Flower';
    height: 100%;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(237,127,16,1) 35%, rgba(247,255,60,1) 100%);
}

header {
    height: 60px;
}

header a {
    text-decoration: none;
    color: black;
}

h1 {
    line-height: 60px;
}

article {
    display: inline-block;
}

label {
    cursor: pointer;
}

ul {
    display: inline-block;
}

ul li {
    font-size: 20px;
    list-style: none;
    background: #00CCFF;
    border: black 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 4px;
    padding: 6px;
}

h3, #pListIngredient {
    background: black;
    color: white;
}

#pListIngredient {
    font-size: 18px;
}

h4 {
    font-size: 22px;
    cursor: pointer;
    height: 30px;
    border: solid black 1px;
    line-height: 32px;
    outline: none;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,88,0,1) 35%, rgba(94,255,8,1) 100%);
}

h5 {
    text-align: left;
    text-indent: 15px;
    font-size: 20px;
    font-weight: bold;
}

section {
    background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(30,127,203,1) 35%, rgba(119,181,254,1) 100%);
    margin-bottom: 20px;
}

input[type="checkbox"] {
    display: none;
}

input[type="text"], input[type="url"] {
    text-transform: lowercase;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}

i {
    position: absolute;
    top: 58px;
    left: 12px;
    color: white;
    font-size: 34px !important;
    cursor: pointer;
}

.center {
    margin: auto;
    text-align: center;
}

.div-ingredient {
    display: inline-block;
    width: auto;
}

.liSelected {
    font-weight: bolder;
    border: solid red 3px;
}

.aSearchButton {
    width: 50%;
    height: 50px;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    background: linear-gradient(270deg, rgba(255,69,0,1) 25%, rgba(18,10,143,1) 100%);
}

.aSearchButton:hover {
    font-size: 24px;
}

.div-cocktail {
    background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(30,127,203,1) 35%, rgba(119,181,254,1) 100%);
}

.h4-cocktail {
    background: linear-gradient(270deg, rgba(255,69,0,1) 25%, rgba(18,10,143,1) 100%);
    color: white;
}

.p-ingredient {
    text-align: left;
    text-indent: 35px;
    font-size: 19px;
}

.td-response a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #3F2204;
    text-shadow: gray 1px 1px 1px;
}

.p-selected {
    color: orangered;
    font-weight: bold;
}

.td-center-right {
    text-align: right;
    font-weight: bold;
}

.td-center-left {
    text-align: left;
    text-indent: 10px;
}

.p-error {
    color: red;
    font-weight: bolder;
    text-shadow: black 2px 2px 2px;
}

.tableCocktail {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}

.td-label {
    width: 20%;
    text-align: right;
    color: black;
}

.td-response {
    text-align: left;
    text-indent: 10px;
}

.menu-panel {
    background: white;
    position: absolute;
    top: 64px;
    left: 45px;
    width: 65%;
    height: 45%;
    display: none;
}

/* --------------------------------------------------------------- */
/* --- DESKTOP STYLE                                           --- */
/* --------------------------------------------------------------- */
@media screen and (min-width: 1200px) {
    .content {
        width: 50%;
        background: linear-gradient(270deg, rgba(255,69,0,1) 25%, rgba(18,10,143,1) 100%);
        border: solid black 1px;
        box-shadow: black 5px 5px 5px;
        color: white;
    }

    table {
        width: 100%;
    }

    input[type="url"] {
        width: 90%;
    }

    input[type="text"] {
        width: 50%;
    }

    .td-center-right {
        width: 30%;
    }

    .td-center-left {
        width: 70%;
    }

    i {
        position: relative;
        top: 0;
        left: -20%;
        color: white;
        font-size: 55px !important;
        cursor: pointer;
    }
}