* { margin: 0; padding: 0; }

html, body {
    font-family: 'Indie Flower';
    height: 100%;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(237,127,16,1) 35%, rgba(247,255,60,1) 100%);
}

header {
    height: 60px;
}

header a {
    text-decoration: none;
    color: black;
}

h1 {
    line-height: 60px;
}

article {
    display: inline-block;
}

label {
    cursor: pointer;
}

ul {
    display: inline-block;
}

ul li {
    font-size: 20px;
    list-style: none;
    background: #00CCFF;
    border: black 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 4px;
    padding: 6px;
}

h3, #pListIngredient {
    background: black;
    color: white;
}

h4 {
    font-size: 22px;
    cursor: pointer;
    height: 40px;
    border: solid black 1px;
    line-height: 40px;
    outline: none;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,88,0,1) 35%, rgba(94,255,8,1) 100%);
}

h5 {
    text-align: left;
    text-indent: 30px;
    font-size: 18px;
    font-weight: bold;
}

section {
    background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(30,127,203,1) 35%, rgba(119,181,254,1) 100%);
    margin-bottom: 20px;
}

input[type="checkbox"] {
    display: none;
}

.center {
    margin: auto;
    text-align: center;
}

.div-ingredient {
    display: inline-block;
    width: auto;
}

.liSelected {
    font-weight: bolder;
    border: solid red 3px;
}

.aSearchButton {
    width: 50%;
    height: 50px;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    color: black;
    font-size: 22px;
    font-weight: bolder;
    background: linear-gradient(270deg, rgba(255,69,0,1) 25%, rgba(18,10,143,1) 100%);
}

.aSearchButton:hover {
    font-size: 24px;
}

.div-cocktail {
    background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(30,127,203,1) 35%, rgba(119,181,254,1) 100%);
}

.h4-cocktail {
    text-align: left;
    text-indent: 10px;
    background: linear-gradient(270deg, rgba(255,69,0,1) 25%, rgba(18,10,143,1) 100%);
    color: white;
}

.p-ingredient {
    text-align: left;
    text-indent: 50px;
    font-size: 18px;
}

.p-ingredient a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #3F2204;
    text-shadow: gray 1px 1px 1px;
}

.p-selected {
    color: orangered;
    font-weight: bold;
    text-shadow: black 1px 1px 1px;
}