* { margin: 0; padding: 0; }

html, body {
    font-family: 'Indie Flower';
    height: 100%;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(237,127,16,1) 35%, rgba(247,255,60,1) 100%);
}

header {
    height: 60px;
}

header a {
    text-decoration: none;
    color: black;
}

h1 {
    line-height: 60px;
}

article {
    display: inline-block;
}

label {
    cursor: pointer;
}

ul {
    display: inline-block;
}

ul li {
    list-style: none;
    background: aqua;
    border: black 1px;
    border-radius: 5px;
    display: inline-block;
    margin: 6px;
    padding: 4px;
}

h3, #pListIngredient {
    background: black;
    color: white;
}

h4 {
    cursor: pointer;
    height: 40px;
    border: solid black 1px;
    line-height: 40px;
    outline: none;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(8,88,0,1) 35%, rgba(94,255,8,1) 100%);
}

section {
    background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(30,127,203,1) 35%, rgba(119,181,254,1) 100%);
    margin-bottom: 20px;
}

.center {
    margin: auto;
    text-align: center;
}

.div-ingredient {
    display: inline-block;
    width: auto;
}

.liSelected {
    font-weight: bolder;
    border: solid red 3px;
}

.aSearchButton {
    width: 50%;
    height: 50px;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.aSearchButton:hover {
    font-size: 20px;
}