<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="../img/cocktail.png">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="'Where is my cocktail'"></title>
    </head>
    <body>
        <header>
            <h1 th:text="'Where is my cocktail'"></h1>
        </header>

        <div class="content">
            <section>
                <h3 th:text="'Je cherche un cocktail qui contient : '"></h3>
            </section>
        </div>

        <footer>

        </footer>
    </body>
</html>