<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="../img/cocktail.png">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="'Where is my cocktail'"></title>
    </head>
    <body>
        <header>
            <h1 th:text="'Where is my cocktail'"></h1>
        </header>

        <div class="content">
            <section>
                <h3 th:text="'Je cherche un cocktail qui contient : '"></h3>
                <table>
                    <thead>
                        <tr>
                            <th th:text="'alcool'"></th>
                            <th th:text="'Soft'"></th>
                            <th th:text="'Autre'"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ingredient : ${ingredients}">
                            <td th:if="${ingredient.typeIngredient == 'alcool'}">
                                <input type="checkbox" th:id="${ingredient.idIngredient}" th:name="'alcool'" th:value="${ingredient.nomIngredient}">
                                <label th:for="${ingredient.idIngredient}" th:text="${ingredient.nomIngredient}"></label>
                            </td>
                            <td th:if="${ingredient.typeIngredient == 'soft'}">
                                <input type="checkbox" th:id="${ingredient.idIngredient}" th:name="'soft'" th:value="${ingredient.nomIngredient}">
                                <label th:for="${ingredient.idIngredient}" th:text="${ingredient.nomIngredient}"></label>
                            </td>
                            <td th:unless="${ingredient.typeIngredient == 'autre'}">
                                <input type="checkbox" th:id="${ingredient.idIngredient}" th:name="'soft'" th:value="${ingredient.nomIngredient}">
                                <label th:for="${ingredient.idIngredient}" th:text="${ingredient.nomIngredient}"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <footer>

        </footer>
    </body>
</html>