<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="../img/cocktail.png">
        <link rel="stylesheet" href="../css/style.css" type="text/css">
        <link rel="stylesheet" href="../css/acc.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="'Where is my cocktail'"></title>
    </head>
    <body>
        <header class="center">
            <h1 th:text="'Where is my cocktail'"></h1>
        </header>

        <div class="content center">
            <section class="accordion">
                <h3 th:text="'Je cherche un cocktail qui contient : '"></h3>
                <div th:id="'acc1'">
                    <h4><a href="#acc1">ALCOOL</a></h4>
                    <table>
                        <tbody>
                            <tr th:each="alcool : ${alcools}">
                                <td>
                                    <input type="checkbox" th:id="${alcool.idIngredient}">
                                    <label th:for="${alcool.idIngredient}" th:text="${alcool.nomIngredient}"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:id="'acc2'">
                    <h4><a href="#acc2">SOFT</a></h4>
                    <table>
                        <tbody>
                            <tr th:each="soft : ${softs}">
                                <td>
                                    <input type="checkbox" th:id="${soft.idIngredient}">
                                    <label th:for="${soft.idIngredient}" th:text="${soft.nomIngredient}"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:id="'acc3'">
                    <h4><a href="#acc3">AUTRE</a></h4>
                    <table>
                        <tbody>
                            <tr th:each="autre : ${autres}">
                                <td>
                                    <input type="checkbox" th:id="${autre.idIngredient}">
                                    <label th:for="${autre.idIngredient}" th:text="${autre.nomIngredient}"></label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

        <footer>

        </footer>
    </body>
</html>