<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/includes :: includes"></div>
    </head>
    <body>
        <div th:replace="fragment/header :: header"></div>

        <div class="content center">
            <div th:class="'div-cocktail'" th:each="cocktail : ${cocktails}">
                <h4 th:class="'h4-cocktail'" th:text="${cocktail.nomCocktail}"></h4>
                <h5 th:text="'Ingredients :'"></h5>
                <p th:each="ingredient : ${cocktail.ingredients}"
                   th:text="'- ' + ${ingredient.nomIngredient}" th:class="'p-ingredient'"></p>
                <h5 th:text="'Recette et préparation :'"></h5>
                <p th:class="'p-ingredient'">
                    <a th:href="${cocktail.recetteCocktail}" th:text="${cocktail.nomCocktail}" th:target="'_blank'"></a>
                </p>
            </div>
        </div>

        <div th:replace="fragment/footer :: footer"></div>

        <div th:replace="fragment/script :: script"></div>
    </body>
</html>