<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/includes :: includes"></div>
    </head>
    <body>
        <div th:replace="fragment/header :: header"></div>

        <div class="content center">
            <section>
                <h3 th:text="'Je cherche un cocktail qui contient : '"></h3>
                <p th:id="'pListIngredient'">
                    <th:block th:each="ingredient, iterator : ${ingredients}" th:text="${iterator.index < ingredients.size()-1} ? ${ingredient.nomIngredient} + ', ' : ${ingredient.nomIngredient}"></th:block>
                </p>
                <div>
                    <ul>
                        <li th:each="cocktail : ${cocktails}">
                            <span th:text="${cocktail.nomCocktail}"></span>
                            <span th:text="${cocktail.recetteCocktail}"></span>
                            <ul>
                                <li th:each="ingredient : ${cocktail.ingredients}">
                                    <p th:text="${ingredient.nomIngredient}"></p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </section>
        </div>

        <div th:replace="fragment/footer :: footer"></div>

        <div th:replace="fragment/script :: script"></div>
    </body>
</html>