<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <div th:replace="fragment/includes :: includes"></div>
    </head>
    <body>
        <div th:replace="fragment/header :: header"></div>

        <div th:replace="fragment/menu :: menu"></div>
        <div th:replace="fragment/menuButton :: menu-button"></div>

        <div th:replace="fragment/shadowPanel :: shadowPanel"></div>

        <div class="content center">
            <h3 th:text="'Cocktail(s) trouvé(s) | ' + ${cocktails.size()} + ' | qui contiennent :'"></h3>
            <p th:id="'pListIngredient'">
                <th:block th:each="ingredient, iterator : ${ingredients}"
                          th:text="${iterator.index < ingredients.size()-1}
                          ? ${ingredient.nomIngredient} + ', ' : ${ingredient.nomIngredient}">
                </th:block>
            </p>
            <div th:class="'div-cocktail'" th:each="cocktail : ${cocktails}">
                <h4 th:class="'h4-cocktail'" th:text="${cocktail.nomCocktail}"></h4>
                <h5 th:text="'Ingredients :'"></h5>
                <p th:each="ingredient : ${cocktail.ingredients}"
                      th:text="'- ' + ${ingredient.nomIngredient}" th:class="'p-ingredient'"></p>
                <h5 th:text="'Recette et préparation :'"></h5>
                <p th:class="'p-ingredient'">
                    <a th:href="${cocktail.recetteCocktail}" th:text="${cocktail.nomCocktail}" th:target="'_blank'"></a>
                </p>
            </div>
        </div>

        <div th:replace="fragment/footer :: footer"></div>

        <div th:replace="fragment/script :: script"></div>
    </body>
</html>