<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/includes :: includes"></div>
    </head>
    <body>
        <div th:replace="fragment/header :: header"></div>

        <div class="content center">
            <h3 th:text="'Nombre de cocktails existants dans la base de données : ' + ${cocktails.size()}"></h3>
            <div th:class="'div-cocktail'" th:each="cocktail : ${cocktails}">
                <h4 th:class="'h4-cocktail'" th:text="${cocktail.nomCocktail}"></h4>
                <table th:class="tableCocktail">
                    <tbody>
                        <tr>
                            <td th:class="td-label">Ingredients : </td>
                            <td th:class="td-response"><span th:each="ingredient, iterator : ${cocktail.ingredients}"
                                      th:text="${iterator.index < cocktail.ingredients.size()-1}
                                      ? ${ingredient.nomIngredient} + ' -- ' : ${ingredient.nomIngredient}"></span></td>
                        </tr>
                        <tr>
                            <td th:class="td-label">Recette et préparation : </td>
                            <td th:class="td-response"><a th:href="${cocktail.recetteCocktail}" th:text="${cocktail.recetteCocktail}" th:target="'_blank'"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div th:replace="fragment/footer :: footer"></div>

        <div th:replace="fragment/script :: script"></div>
    </body>
</html>