<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="img/cocktail.png">
        <title>Where is my cocktail</title>
    </head>
    <body>
        <header>
            <h1>Where is my cocktail</h1>
        </header>

        <div class="content">
            <section>
                <h3 th:text="'Cocktail : ' + ${nomCocktail}"></h3>
                <h4 th:text="'Liste des ingrédients'"></h4>
                <table>
                    <thead>
                        <tr>
                            <th>NOM</th>
                            <th>TYPE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="ingredient : ${ingredients}">
                            <td th:text="${ingredient.nomIngredient}"></td>
                            <td th:text="${ingredient.typeIngredient}"></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <footer>

        </footer>
    </body>
</html>