<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="img/cocktail.png">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="'Where is my cocktail'"></title>
    </head>
    <body>
        <header>
            <h1 th:text="'Where is my cocktail'"></h1>
        </header>

        <div class="content">
            <section>
                <h3 th:text="'Liste des cocktails'"></h3>
                <table>
                    <thead>
                        <tr>
                            <th th:text="'ID'"></th>
                            <th th:text="'NOM'"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cocktail : ${cocktails}">
                            <td th:text="${cocktail.idCocktail}"></td>
                            <td><a th:href="'/detail/' + ${cocktail.idCocktail}" th:text="${cocktail.nomCocktail}"></a></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <footer>

        </footer>
    </body>
</html>